body {
    background-color: black;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}

.item-list > div {
    display: grid;
    grid-template-columns: repeat(6, 6fr) 1fr;
}

.item-list-header {
    border-bottom: white solid 1px;
    font-size: 1.25em;
    font-weight: bold;
}

button {
    border: none;
}

input {
    border: none;
    background-color: rgb(49, 49, 49);
    margin: 0.1em;
    color: white;
    border-bottom: white solid 1px;
}

input:focus {
    outline: none;
    border-bottom-width: 3px;
    background-color: rgb(72, 72, 72);
}

input[type="checkbox"] {
    display: inline-block;
}

input[type="checkbox"]::after {
    padding-left: 1.5em;
    content: "no";
}

input[type="checkbox"]:checked::after {
    content: "yes";
}